[submodule "pack/core/start/coc.nvim"]
	path = pack/core/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "pack/core/start/vim-lsp-cxx-highlight"]
	path = pack/core/opt/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight
[submodule "pack/core/start/lazygit.nvim"]
	path = pack/core/start/lazygit.nvim
	url = https://github.com/kdheepak/lazygit.nvim
[submodule "pack/core/start/goyo.vim"]
	path = pack/core/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/core/start/nvim-treesitter"]
	path = pack/treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/core/start/nvim-lspconfig"]
	path = pack/core/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/telescope/start/plenary.nvim"]
	path = pack/telescope/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/telescope/start/popup.nvim"]
	path = pack/telescope/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim.git
[submodule "pack/telescope/start/telescope.nvim"]
	path = pack/telescope/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/core/start/completion-nvim"]
	path = pack/core/start/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule "pack/core/start/completion-treesitter"]
	path = pack/treesitter/start/completion-treesitter
	url = https://github.com/nvim-treesitter/completion-treesitter.git
[submodule "pack/core/start/nvim-ts-rainbow"]
	path = pack/treesitter/start/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow.git
[submodule "pack/treesitter/start/nvim-treesitter-refactor"]
	path = pack/treesitter/start/nvim-treesitter-refactor
	url = https://github.com/nvim-treesitter/nvim-treesitter-refactor.git
[submodule "pack/treesitter/start/nvim-treesitter-textobjects"]
	path = pack/treesitter/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
